* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
   /* grid-template-rows: repeat(4, 1fr);*/
}

.menu {
    background-color: #6597c4;
    grid-row: 1/5;
    display: grid;
    grid-template-rows: 10% 2fr 3fr;
}

.menu > div {
    color: #f4f4f4;
    align-content: center;
    font-size: 15px;
}

.menu-container > div {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 4fr;
}

.menu-container > div > img {
    justify-self: center;
}

.menu-container > div > div {
    align-self: center;
}

.menu > div > div {
    align-self: center;
}

.dashboard {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 4fr;
}

.dashboard > img {
    justify-self: center;
}

.navigation {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

.navigation > img {
    width: 50px;
    height: 50px;
}

.searchbar-and-notification {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.searchbar-and-notification > img {
    justify-self: center;
    align-self: center;
}

.searchbar-and-notification > form {
    display: contents;
}

form {
    display: contents;
}

input[type="search"] {
    align-self: center;
    grid-column: 2 / 2 span;
}

.searchbar-and-avatar {
    display: grid;
}

.avatar-and-buttons {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
}

.avatar-and-buttons > div:nth-child(1) {
    justify-self: center;
}

.user-greeting {
    align-self: center;
}

.button-group {
    align-self: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.button-group > button {
    height: 30px;
}

.profile-picture-wrapper {
    grid-template-columns: repeat(3,1fr) 10%;
    display: grid;
    grid-column: 2/4;
    grid-gap: 10px;
}

.notifications {
    justify-self: end;
}

.avatar {
    justify-self: center;
}

.profile-picture-wrapper > div {
    justify-self: start;
    align-self: center;
}

div > img {
    width: 40px; /* Adjust the width and height to your desired icon size */
    height: 40px;
}

.profile-picture {
    width: 50px; /* Adjust the width and height to your desired icon size */
    height: 50px;
    border-radius: 50%; /* Makes the icon circular */
    overflow: hidden;
}

#big-profile-picture {
    width: 60px;
}

.projects-list {
    background-color: #e6e6e6;
    grid-row: 2/ 5;
    grid-column: 2 / 5;
}
